html,
body{
    height: 100%;
    background-color: #222222;
}
.collapse-icon{
    color: white;
}
.container-second-row{
    height:100%;
}
.navbar-main{
    margin: 0;
    border: none;
}

.nav-sidebar {
    height: 100%;
    background-color: #222222;
    margin-left: 0;
    padding: 0;
    padding-top: 50px;
}

@media (max-width: 768px) {
    .nav-sidebar{
        min-height:0;
        height: auto;
    }
}

.content-section{
    overflow: auto;
    padding-top: 10vh;
}
.nav-sidebar a{
    color: lightgrey;
}
.nav-sidebar li>a:hover{
    background-color: black;
}

.table>tbody>tr>td{
    vertical-align: middle;
}