
form label{
    font-size: 120%;
}
.block{
    min-height: 100vh;
    height: auto;

}

.block .row{
    margin:0;
}
.block>.container{
    padding: 20vh 5vw 20vh 5vw;
}

.block>.container-fluid{
    padding: 12vh 5vw 12vh 5vw;
}

.block.bg-image{
    background-image: url('/images/web/home02.jpg');
    background-color: rgba(0,0,0, .5);
    background-size: cover;
    position: relative;
}

.block .bg-image>.container{
    padding-top: 35vh;
}

.block.bg-image2{
    background-image: url('/images/web/home01.jpg');
    background-color: rgba(0,0,0, .5);
    background-size: cover;
    position: relative;
}

.block.bg-image2>.container{
    padding-top: 35vh;
}


.block1{
    background-image: url("/images/web/diner02.jpg");
    background-color: rgba(0,0,0, .5);
    background-size: cover;
    position: relative;
}
.block1 > .container{
    padding-top: 35vh;
    text-align: center;
    font-size: 200%;
}
.block2{
    background-color: white;
}

.block2 .meal-div{
    margin-bottom:1em;
}

.block3{
    background: #fcfcfc
    repeating-linear-gradient(
            45deg, transparent, transparent 15px,
            rgba(205, 205, 205, .15) 15px,
            rgba(205, 205, 205, .15) 30px);
}

.block4{
    background-color: white;
}
.block4 > .container{
    padding-top: 25vh;
}
.block4 .table-reservation-container{
    padding-top: 5vh;
    font-size: 120%;
}

.block-home > .container{
    padding-top: 35vh;
}

.white-text{
    color: white;
}



.img-meals{
    max-width: 64px;
    max-height:64px;
}


.reservation-container{
    font-size: 120%;
}

.fog{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.6);
    z-index: 90;
}

.loading{
    position: fixed;
    left:50vw;
    top:50vh;
    margin-left: -48px;
    margin-top:-56px;
    z-index: 100;
}

.fa-star{
    color: goldenrod;
}
.navbar-brand{
    padding-top: 5px;
}
.navbar-brand > span > .fa-star{
    display: inline-block;
    color:inherit;
    font-size: 50%;
}
.tab-content {
    padding-top: 15vh;
}

.tabs-div{
    width: 100%;
    border-bottom: 1px #dddddd solid;
}

.popover {
    max-width: none;
    width: auto;
}

.panel-info-border{
    border:1px solid #9c27b0;
}

.popular h6{
    opacity: 0;
}


.popular:hover h6{
    position: absolute;
    top:45%;
    left:0;
    width: 100%;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    opacity: 1;
}

.popular:hover .center-text-image{
    position: absolute;
    top:45%;
    left:0%;
    width: 100%;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    opacity:1;
}

.menu-border{
    border-bottom: 1px dotted lightgrey;
}

.pagination > li.active > span{
    background-color: #9c27b0;
}

.nav-account{
    margin-right: 5%;
}